<br/>
<div class='container'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			All users
		</div>
		<div class='panel-body'>
			<table class='table'>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Title</th>
						<th>Email</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% _.each(users, function(user) { %>
					<tr data-id='<%= user.id %>' data-model='user'>
						<td><%= user.id %></td>
						<td><%= user.name %></td>
						<td><%= user.title %></td>
						<td><%= user.email %></td>
						<td style='width:90px;'><a href='/user/show/<%= user.id %>' class='btn btn-sm btn-primary btn-block'>Show/Edit</a></td>
            <td style='width:90px;'>
              <form action="/user/destroy/<%= user.id %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" class="btn btn-sm btn-danger btn-block" value="Delete"/>
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
              </form>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>
